In [1]:
import pandas as pd
import csv
import numpy as np
import pickle
import time

In [2]:
path = '/home/User1/data/self_citations/'

In [3]:
disciplines = pd.read_csv(path+'liste_discipline.txt',encoding='latin_1',sep='\t')

In [4]:
disciplines = pd.read_csv(path+'liste_discipline.txt',encoding='latin_1',sep='\t')
articles = pd.read_csv(path+'article.txt',sep='\t')

/home/User1/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
clusterID = pd.read_csv(path+'clusterID.txt',sep='\t')

In [7]:
unique_IDS = pd.unique(clusterID['Cluster_ID'])

In [8]:
len(unique_IDS)

51597960

In [5]:
clusterID = clusterID.merge(articles[['ID_Art','ItemID','Annee_Bibliographique','Code_Revue']],left_on='UT',right_on='ItemID')
clusterID = clusterID.drop(['UT','ItemID'],axis=1)

In [6]:
liste_revue = pd.read_csv(path+'Liste_Revue.txt',sep='\t')

In [7]:
liste_revue = liste_revue.merge(disciplines,on='Code_Discipline')

In [8]:
clusterID = clusterID.merge(liste_revue[['Code_Revue','EDiscipline']],on='Code_Revue')

### Data for arrays

In [ ]:
authors_info = clusterID.groupby(['Cluster_ID']).agg({'EDiscipline': 'max', 'Annee_Bibliographique': 'min'})

In [15]:
authors_info.head()

            discipline  min_year  max_year
Cluster_ID
1           Humanities      2013      2016
2           Humanities      1999      1999
3            Chemistry      2013      2013
4            Chemistry      2015      2015
5           Humanities      2017      2017

In [17]:
with open(path+'authors_info.csv','w') as f:
    authors_info.to_csv(f,sep='\t')

### Data for model

In [11]:
authors_info = clusterID.groupby(['Cluster_ID']).agg({'EDiscipline': 'max', 'Annee_Bibliographique': ['min','max']})

In [13]:
authors_info.columns = ['discipline','min_year','max_year']

In [10]:
authors_info.head()

           EDiscipline  Annee_Bibliographique
Cluster_ID
1           Humanities                   2016
2           Humanities                   1999
3            Chemistry                   2013
4            Chemistry                   2015
5           Humanities                   2017

In [16]:
with open(path+'model/authors_infos_model.csv','w') as f:
    authors_info.to_csv(f,sep='\t')