In [1]:
path <- '/home/User1/data/self_citations/model/'

### Predict papers n years

In [2]:
year_start = 5
diff_year = 10
year_pred = year_start+diff_year

In [3]:
total_years_file <- 20
col_status <- rep("NULL",total_years_file+1)
col_status[c(1,year_start+1,year_start+diff_year+1)] <- "integer"
data <- read.csv(file=paste0(path,'nb_articles.csv'),colClasses =col_status)

In [4]:
col_status <- rep("NULL",total_years_file+1)
col_status[c(1,year_start+1,year_start+diff_year+1)] <- "double"
types_cit <- c('self','co','others')
dfs_nb_cit <- list()
for(i in 1:length(types_cit)){
    type_cit <- types_cit[i]
    dfs_nb_cit[[i]] <- read.csv(file=paste0(path,'nb_citations_',type_cit,'.csv'),colClasses=col_status)
}

In [5]:
authors_info <- read.csv(file=paste0(path,'authors_infos_model.csv'),sep='\t')

In [6]:
for(i in 1:length(types_cit)){
    data <- merge(data,dfs_nb_cit[[i]],by="Cluster_ID")
}

In [7]:
rm(dfs_nb_cit)

In [8]:
data <- merge(data,authors_info,by="Cluster_ID")

In [9]:
nb_coauthors <- read.csv(file=paste0(path,'nb_coauthors.csv'),colClasses =col_status)

In [10]:
colnames(nb_coauthors)[c(2,3)] <- c(paste0("nb_co_",year_start),paste0("nb_co_",year_start+diff_year))

In [11]:
head(nb_coauthors)

  Cluster_ID nb_co_5 nb_co_15
1 31905805    5       5
2 10925507    7       7
3 37274983    9      33
4 11452931   13      13
5 38788724    5       5
6 43195937    3       3

In [12]:
col_status_char <- rep("NULL",total_years_file+1)
col_status_char[c(1,year_start+1,year_start+diff_year+1)] <- "character"

In [13]:
countries <- read.csv(file=paste0(path,'country_authors.csv'),colClasses =col_status_char)

In [14]:
data <- merge(data,nb_coauthors,by="Cluster_ID")

In [15]:
data <- merge(data,countries,by="Cluster_ID")

In [16]:
data$discipline <- as.character(data$discipline)

In [17]:
groups_disc <- read.csv(file=paste0(path,'groups_disc.csv'),header=F)

In [18]:
colnames(groups_disc) <- c("group","discipline")

In [19]:
data <- merge(data,groups_disc,by='discipline')

In [53]:
gender <- read.csv(file=paste0(path,'cluster_gender.txt'),sep='\t')

In [54]:
gender$gender <- tolower(gender$gender)

In [57]:
gender <- gender[gender$gender %in% c("m","f"),]

In [58]:
gender[gender$gender == "m","gender"] <- 1
gender[gender$gender == "f","gender"] <- 0

In [60]:
gender$gender <- as.numeric(gender$gender)

In [61]:
colnames(gender) <- c("Cluster_ID","gender")

In [64]:
data <- merge(data,gender,by='Cluster_ID')

In [65]:
# As time of start
min_year <- 1995
max_year <- 2007
# Min year car start
min_year_start  <- min_year - year_start
max_year_start <- max_year - year_start

data_model <- data[which((data['min_year'] >=min_year_start) & (data['min_year'] <= max_year_start)),]

In [66]:
list_disciplines <- unique(data_model$discipline)

In [67]:
act_from_start = year_pred
act_var <- paste0('active_',act_from_start)
data_model['nb_years_active'] <- data_model['max_year'] - data_model['min_year'] 
data_model[act_var] = data_model['nb_years_active'] >= act_from_start

In [68]:
data_model$group <- as.character(data_model$group)

In [27]:
head(data_model)

   Cluster_ID discipline        nb_art_5 nb_art_15 nb_cits_self_5
25  53        Clinical Medicine  7       124         0.00
26  54        Clinical Medicine  5        28         9.34
27  55        Clinical Medicine  5        13         0.00
29  57        Physics           48        84       256.10
41 100        Clinical Medicine  3        16         0.00
56 172        Physics            6        65         2.91
   nb_cits_self_15 nb_cits_co_5 nb_cits_co_15 nb_cits_others_5
25 265.03            0.00         79.40        5.64
26  59.39            0.00         27.27       22.70
27   1.46            0.00          1.38        7.96
29 423.26          352.40       1277.60       81.06
41   2.51            0.00          0.00        0.00
56 359.07           48.23        982.09       56.93
   nb_cits_others_15 min_year max_year nb_co_5 nb_co_15 country_5   country_15
25 1268.23           1990     2018      13      241     Japan       Japan
26  456.12           1992     2015      11       62     Japan       Japan
27  151.92           1998     2012      22       38     Japan       Japan
29  421.19           1999     2017     362      562     Japan       Japan
41    9.59           2001     2018       9       25     Slovenia    Slovenia
56 2076.65           2002     2018     393     2145     Switzerland Switzerland
   group                            gender nb_years_active active_15
25 Health Sciences                  M      28               TRUE
26 Health Sciences                  M      23               TRUE
27 Health Sciences                  M      14              FALSE
29 Natural Sciences and Engineering M      18               TRUE
41 Health Sciences                  M      17               TRUE
56 Natural Sciences and Engineering NULL   16               TRUE

In [69]:
col_status <- rep("NULL",total_years_file+1)
col_status[c(1,year_start+1,year_start+diff_year+1)] <- "numeric"
rank_authors <- read.csv(file=paste0(path,'rank_authors.csv'),colClasses =col_status)

In [70]:
data_model_rank <- merge(data_model,rank_authors,by="Cluster_ID")

In [71]:
groups <- unique(data_model$group)

In [31]:
head(data_model,5)

   Cluster_ID discipline        nb_art_5 nb_art_15 nb_cits_self_5
25  53        Clinical Medicine  7       124         0.00
26  54        Clinical Medicine  5        28         9.34
27  55        Clinical Medicine  5        13         0.00
29  57        Physics           48        84       256.10
41 100        Clinical Medicine  3        16         0.00
   nb_cits_self_15 nb_cits_co_5 nb_cits_co_15 nb_cits_others_5
25 265.03            0.0          79.40        5.64
26  59.39            0.0          27.27       22.70
27   1.46            0.0           1.38        7.96
29 423.26          352.4        1277.60       81.06
41   2.51            0.0           0.00        0.00
   nb_cits_others_15 min_year max_year nb_co_5 nb_co_15 country_5 country_15
25 1268.23           1990     2018      13     241      Japan     Japan
26  456.12           1992     2015      11      62      Japan     Japan
27  151.92           1998     2012      22      38      Japan     Japan
29  421.19           1999     2017     362     562      Japan     Japan
41    9.59           2001     2018       9      25      Slovenia  Slovenia
   group                            gender nb_years_active active_15
25 Health Sciences                  M      28               TRUE
26 Health Sciences                  M      23               TRUE
27 Health Sciences                  M      14              FALSE
29 Natural Sciences and Engineering M      18               TRUE
41 Health Sciences                  M      17               TRUE

#### Run model

In [ ]:
install.packages("lme4")
install.packages("arm")
install.packages("lm.beta")
install.packages("ggplot2")
install.packages("gridExtra")

In [32]:
library(lme4) 
library(arm)
library(lm.beta)
library(ggplot2)
library(gridExtra)
library(pscl)
library(dplyr)

Loading required package: Matrix

Loading required package: MASS


arm (Version 1.10-1, built: 2018-4-12)


Working directory is /home/User1/code/SelfCitations/R


Classes and Methods for R developed in the
Political Science Computational Laboratory
Department of Political Science
Stanford University
Simon Jackman
hurdle and zeroinfl functions by Achim Zeileis


Attaching package: ‘dplyr’


The following object is masked from ‘package:gridExtra’:

    combine


The following object is masked from ‘package:MASS’:

    select


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

#### Formulas

In [44]:
forms_dv[[1]]

nb_cits_others_15 ~ scale(nb_cits_others_5) * scale(gender) +
    scale(nb_co_5) * scale(gender) + scale(nb_art_5) * scale(gender) +
    scale(prop5_5) * scale(gender)

In [72]:
dep_vars <- c("nb_art","active","nb_cits_others")




form_types <- c("Base","Coauthors","Self","All")
var_base <- c("nb_cits_others","nb_co","nb_art")
var_co <- c("nb_cits_others","nb_co","nb_art","nb_cits_co")
var_self <- c("nb_cits_others","nb_co","nb_art","nb_cits_self")
var_all <- c("nb_cits_others","nb_co","nb_art","nb_cits_self","nb_cits_co")

#With rank
form_types <- c("Base","Coauthors","Self","All")
var_base <- c(var_base,"prop5")
var_co <- c(var_co,"prop5")
var_self <- c(var_self,"prop5")
var_all <- c(var_all,"prop5")

iv_base <- lapply(var_base,function(x) paste(x,year_start,sep="_"))
iv_co <- lapply(var_co,function(x) paste(x,year_start,sep="_"))
iv_self <- lapply(var_self,function(x) paste(x,year_start,sep="_"))
iv_all <- lapply(var_all,function(x) paste(x,year_start,sep="_"))
    
formulas <- list()
count <- 1

#With scale
iv_base <- sapply(iv_base,function(x){paste0('scale(',x,')')})
iv_co <- sapply(iv_co,function(x){paste0('scale(',x,')')})
iv_self <- sapply(iv_self,function(x){paste0('scale(',x,')')})
iv_all <- sapply(iv_all,function(x){paste0('scale(',x,')')})
    
#With gender
iv_base <- sapply(iv_base,function(x){paste0(x,'*gender')})
iv_co <- sapply(iv_co,function(x){paste0(x,'*gender')})
iv_self <- sapply(iv_self,function(x){paste0(x,'*gender')})
iv_all <- sapply(iv_all,function(x){paste0(x,'*gender')})
  
   
for(var in dep_vars){
    dv <- paste0(var,'_',year_pred)
    forms_dv <- list()
    forms_dv[[1]] <- as.formula(paste0(dv,'~',paste(iv_base,collapse="+")))
    forms_dv[[2]] <- as.formula(paste0(dv,'~',paste(iv_co, collapse="+")))
    forms_dv[[3]] <- as.formula(paste0(dv,'~',paste(iv_self, collapse="+")))
    forms_dv[[4]] <- as.formula(paste0(dv,'~',paste(iv_all,collapse="+")))
    formulas[[count]] <- forms_dv
    count = count + 1
}  

    
#df <- data_model
df <- data_model_rank

name <- "rank_scale"

#### conditions

In [73]:
country <- "United States"
nb_dvs <- 3
nb_forms <- 4

In [74]:
nobs <- df %>%
    group_by(group) %>%
    summarize(count=n())

In [75]:
nobs

  group                            count
1 Arts and Humanities                2068
2 Health Sciences                  191723
3 Natural Sciences and Engineering 198258
4 Social Sciences                  140658

In [76]:
results <- data.frame(
    stat_type = double(),
    value = double(),
    dv = character(),
    group = character(),
    form = character(),
    stringsAsFactors=F
)
for(i in 1:nb_dvs){
    dv <- dep_vars[i]
    #results[[dv]] = list()
    for(group in groups){
        #results[[dv]][[group]] <- list()
        for(j in 1:nb_forms){
            form = formulas[[i]][[j]]
            if(F){
            #if(startsWith("active",dv)){
                model <- glm(form,data=df[(df[paste0('country_',year_start)]==country) &
                                       (df['group'] == group),],family="binomial")  
                results[nrow(results)+1,] <- c('R2',round(pR2(model),3),dv,group,form_types[j])
            }else{
                model <- lm(form,data=df[(df[paste0('country_',year_start)]==country) &
                                       (df['group'] == group),])  
                results[nrow(results)+1,] <- c('R2',summary(model)$r.squared,dv,group,form_types[j])
            }

            
            coefs <- names(lm.beta(model)[[1]])
            values <- lm.beta(model)[[1]]
            nb_coefs <- length(coefs)
            for(k in 2:nb_coefs){
                results[nrow(results)+1,] <- c(coefs[k],values[[k]],dv,group,form_types[j])
            }
    }
    
    }
}
results$value <- as.numeric(results$value)

#### Plot Params

In [65]:
library(repr)
options(repr.plot.width=15, repr.plot.height=12)

In [77]:
for(dv in dep_vars){
    for(group in groups){
        results[(results$stat_type=="R2") & (results$dv == dv) &
                (results$group==group) &(results$form!='Base'),'value'] <- results[(results$stat_type=="R2") & (results$dv == dv) &
                (results$group==group) &(results$form!='Base'),'value'] - results[(results$stat_type=="R2") & (results$dv == dv) &
                (results$group==group) &(results$form=='Base'),'value']
    }
}

In [83]:
head(results,100)

    stat_type                      value        dv
1   R2                              0.475404277 nb_art
2   scale(nb_cits_others_5)         1.052695322 nb_art
3   gender                          3.474450525 nb_art
4   scale(nb_co_5)                 -0.066083098 nb_art
5   scale(nb_art_5)                21.732711939 nb_art
6   scale(prop5_5)                  0.308199162 nb_art
7   scale(nb_cits_others_5):gender -1.019970740 nb_art
8   gender:scale(nb_co_5)           0.408754510 nb_art
9   gender:scale(nb_art_5)          1.817145220 nb_art
10  gender:scale(prop5_5)           0.639568360 nb_art
11  R2                              0.001724993 nb_art
12  scale(nb_cits_others_5)         2.526687617 nb_art
13  gender                          3.407470367 nb_art
14  scale(nb_co_5)                  0.071533717 nb_art
15  scale(nb_art_5)                21.918410738 nb_art
16  scale(nb_cits_co_5)            -1.814394125 nb_art
17  scale(prop5_5)                  0.315018359 nb_art
18  scale(nb_cits_others_5):gender -0.782758625 nb_art
19  gender:scale(nb_co_5)           0.502835382 nb_art
20  gender:scale(nb_art_5)          1.866034917 nb_art
21  gender:scale(nb_cits_co_5)     -0.697992575 nb_art
22  gender:scale(prop5_5)           0.665704311 nb_art
23  R2                              0.001724993 nb_art
24  scale(nb_cits_others_5)         2.526687617 nb_art
25  gender                          3.407470367 nb_art
26  scale(nb_co_5)                  0.071533717 nb_art
27  scale(nb_art_5)                21.918410738 nb_art
28  scale(nb_cits_co_5)            -1.814394125 nb_art
29  scale(prop5_5)                  0.315018359 nb_art
30  scale(nb_cits_others_5):gender -0.782758625 nb_art
⋮   ⋮                              ⋮            ⋮
71  gender                          0.610768383 nb_art
72  scale(nb_co_5)                  8.198533799 nb_art
73  scale(nb_art_5)                30.847023887 nb_art
74  scale(nb_cits_co_5)            -3.255055336 nb_art
75  scale(prop5_5)                  1.174797265 nb_art
76  scale(nb_cits_others_5):gender -1.018006902 nb_art
77  gender:scale(nb_co_5)           5.558589046 nb_art
78  gender:scale(nb_art_5)          0.781307139 nb_art
79  gender:scale(nb_cits_co_5)     -0.846554039 nb_art
80  gender:scale(prop5_5)           0.792747215 nb_art
81  R2                              0.002063177 nb_art
82  scale(nb_cits_others_5)         2.970675568 nb_art
83  gender                          0.610768383 nb_art
84  scale(nb_co_5)                  8.198533799 nb_art
85  scale(nb_art_5)                30.847023887 nb_art
86  scale(nb_cits_co_5)            -3.255055336 nb_art
87  scale(prop5_5)                  1.174797265 nb_art
88  scale(nb_cits_others_5):gender -1.018006902 nb_art
89  gender:scale(nb_co_5)           5.558589046 nb_art
90  gender:scale(nb_art_5)          0.781307139 nb_art
91  gender:scale(nb_cits_co_5)     -0.846554039 nb_art
92  gender:scale(prop5_5)           0.792747215 nb_art
93  R2                              0.545879054 nb_art
94  scale(nb_cits_others_5)         0.044644943 nb_art
95  gender                          3.254328943 nb_art
96  scale(nb_co_5)                  2.387643798 nb_art
97  scale(nb_art_5)                29.026778948 nb_art
98  scale(prop5_5)                  2.036033673 nb_art
99  scale(nb_cits_others_5):gender -0.599313082 nb_art
100 gender:scale(nb_co_5)           1.244774603 nb_art
    group                            form
1   Health Sciences                  Base
2   Health Sciences                  Base
3   Health Sciences                  Base
4   Health Sciences                  Base
5   Health Sciences                  Base
6   Health Sciences                  Base
7   Health Sciences                  Base
8   Health Sciences                  Base
9   Health Sciences                  Base
10  Health Sciences                  Base
11  Health Sciences                  Coauthors
12  Health Sciences                  Coauthors
13  Health Sciences                  Coauthors
14  Health Sciences                  Coauthors
15  Health Sciences                  Coauthors
16  Health Sciences                  Coauthors
17  Health Sciences                  Coauthors
18  Health Sciences                  Coauthors
19  Health Sciences                  Coauthors
20  Health Sciences                  Coauthors
21  Health Sciences                  Coauthors
22  Health Sciences                  Coauthors
23  Health Sciences                  Self
24  Health Sciences                  Self
25  Health Sciences                  Self
26  Health Sciences                  Self
27  Health Sciences                  Self
28  Health Sciences                  Self
29  Health Sciences                  Self
30  Health Sciences                  Self
⋮   ⋮                                ⋮
71  Natural Sciences and Engineering Self
72  Natural Sciences and Engineering Self
73  Natural Sciences and Engineering Self
74  Natural Sciences and Engineering Self
75  Natural Sciences and Engineering Self
76  Natural Sciences and Engineering Self
77  Natural Sciences and Engineering Self
78  Natural Sciences and Engineering Self
79  Natural Sciences and Engineering Self
80  Natural Sciences and Engineering Self
81  Natural Sciences and Engineering All
82  Natural Sciences and Engineering All
83  Natural Sciences and Engineering All
84  Natural Sciences and Engineering All
85  Natural Sciences and Engineering All
86  Natural Sciences and Engineering All
87  Natural Sciences and Engineering All
88  Natural Sciences and Engineering All
89  Natural Sciences and Engineering All
90  Natural Sciences and Engineering All
91  Natural Sciences and Engineering All
92  Natural Sciences and Engineering All
93  Social Sciences                  Base
94  Social Sciences                  Base
95  Social Sciences                  Base
96  Social Sciences                  Base
97  Social Sciences                  Base
98  Social Sciences                  Base
99  Social Sciences                  Base
100 Social Sciences                  Base

In [78]:
plist <- list()
plist_r2 <- list()
for(dv in dep_vars){
    plist[[dv]] <- list()
    for(group in groups){
        p <- ggplot(results[(results$group==group) & (results$stat_type!="R2") & (results$dv == dv),],
                    aes(x=stat_type,y=value,fill=form))+
          geom_col(position=position_dodge())+
        labs(fill = "Model", x = "Parameter", y = "Value", title=group)+
        theme_grey(base_size = 20)+
        theme(axis.text.x = element_text(angle = 45, hjust = 1))
        plist[[dv]][[group]] <- ggplotGrob(p)
    }
    r2 <- results[(results$stat_type=="R2") & (results$dv == dv) & (results$form=='Base'),'value']
    p <- ggplot(results[(results$stat_type=="R2") & (results$dv == dv) & (results$form!='Base'),],
                aes(x=group,y=value,fill=form))+
          geom_col(position=position_dodge())+
        labs(fill = "Model", x = "Field", y = "Value", title=paste0(dv,': ',round(r2,3)))+
        theme_grey(base_size = 20)+
        theme(axis.text.x = element_text(angle = 45, hjust = 1))
        plist_r2[[dv]] <- p
}

In [79]:
out_path <- paste0(path,'results_model/')
dir.create(file.path(out_path,name), showWarnings = FALSE)
out_path <- paste0(out_path,'/',name,'/')

#### Save figs

In [80]:
for(dv in dep_vars){
    g <- marrangeGrob(plist[[dv]],ncol=1,nrow=4)
    ggsave(file=paste0(out_path,dv,'_params.png'),g,width = 20, height = 30)
    ggsave(file=paste0(out_path,dv,'_r2.png'),plist_r2[[dv]],width=10,height=8)
    #ggsave(file=paste0(out_path,dv,'_params.svg'),g)
}