In [1]:
install.packages(c("stringr","stringdist","dplyr","readxl"))

Installing packages into ‘/home/User1/R/x86_64-pc-linux-gnu-library/3.6’
(as ‘lib’ is unspecified)

also installing the dependencies ‘lifecycle’, ‘purrr’, ‘rematch’, ‘hms’, ‘prettyunits’, ‘magrittr’, ‘stringi’, ‘pkgconfig’, ‘R6’, ‘tibble’, ‘tidyselect’, ‘BH’, ‘plogr’, ‘cellranger’, ‘progress’

In [1]:
library(stringr)
library(stringdist)
library(dplyr)
library(readxl)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
path <- '/home/User1/data/self_citations/'

In [81]:
col_status <- rep("NULL",7)
col_status[c(4,7)] <- "character"
col_status[1] <- 'integer'
df_authors <- read.csv(paste0(path,"clusters_locations.txt"),sep="\t",colClasses =col_status)

In [3]:
df_inst <- unique(df_authors[,c(2,3)])
#df_inst$Institution <- tolower(df_inst$Institution)

In [4]:
#Map author's institution to Leid institution with fuzzy matching and export
file_name_lei <- paste0(path,'model/Leiden_ranking.xlsx')
df_leiden_raw <- read_excel(file_name_lei,sheet=2, col_types = "text")
var_leiden <- c("University","Country","Field","Period","PP_top5")


fields <- unique(df_leiden_raw$Field)

df_leiden <- df_leiden_raw %>%
  subset(Frac_counting==1 & Period == "2006–2009" & Field == "All sciences")
df_leiden$University <- iconv(df_leiden$University,from="UTF-8",to="ASCII//TRANSLIT")
df_leiden <- df_leiden[,var_leiden]
rm(df_leiden_raw)

In [95]:
write.csv(df_leiden,paste0(path,'leid_prop5.csv'),row.names = FALSE)

In [76]:
#df_leiden$Country <- tolower(df_leiden$Country)

In [5]:
df_leiden <- data.frame(df_leiden)

In [7]:
nb_comp <- nrow(df_inst)

In [94]:
head(df_leiden)

  University                               Country Field        Period
1 aalborg university                       denmark All sciences 2006–2009
2 aalto university                         finland All sciences 2006–2009
3 aarhus university                        denmark All sciences 2006–2009
4 adam mickiewicz university in poznan     poland  All sciences 2006–2009
5 agh university of science and technology poland  All sciences 2006–2009
6 ain shams university                     egypt   All sciences 2006–2009
  PP_top5
1 3.9527131084826E-2
2 4.7843169987152698E-2
3 6.2751106656845898E-2
4 1.41971144761704E-2
5 9.8638073842913804E-3
6 2.7408554772684699E-2

In [16]:
#leid_inst <- unique(df_leiden$University)
leid_country <- unique(df_leiden$Country)
leid_country_lo <- tolower(leid_country)

In [21]:
all_inst <- data.frame(inst=character(),
                       leid_inst=character(),
                       country=character(),
                       leid_country=character(),
                       dist_inst=double(),stringsAsFactors=FALSE)

In [22]:
nb_comp

[1] 1753827

In [ ]:

for(i in 1573370:nb_comp){
    inst <- df_inst[i,"Institution"]
    country <- df_inst[i,"ERegroupement"]
    inst_lo <- tolower(inst)
    country_lo <- tolower(country)
    if(!is.na(inst) & nchar(inst)>1 & !is.na(country) & nchar(country)>1){
        
        dist_country <- lapply(leid_country_lo,function(x){stringdist(country_lo,x,method='cosine',q=2)})
        min_country <- Reduce(min,dist_country)
        argmin_country <- which.min(unlist(dist_country))
        country_min <- leid_country[argmin_country]
        
        leid_inst <- df_leiden[df_leiden$Country==country_min,"University"]
        dist_inst <- lapply(leid_inst,function(x){stringdist(inst_lo,tolower(x),method='cosine',q=2)})
        min_inst <- Reduce(min,dist_inst)
        argmin_inst <- which.min(unlist(dist_inst))
        
        inst_min <- leid_inst[argmin_inst]  
        all_inst[i,] <- c(inst,inst_min,country,country_min,min_inst)
            
        
    }
}

In [111]:
new_DF <- all_inst[all_inst['dist_inst'] == 'NA',]

In [112]:
head(new_DF)

     inst leid_inst country leid_country dist_inst

In [105]:
all_inst <- all_inst[rowSums(is.na(all_inst)) == 0,]

In [108]:
new_DF <- all_inst[rowSums(is.na(all_inst)) > 0,]

In [110]:
all_inst[154553:154556,]

       inst                      leid_inst
447019 RIVERSIDE-REG-CTY-MED-CTR University of California, Riverside
452163 WHITE-RIVER-JUNCTION-VAH  Ohio University
473521 MONTREAL-CRCHUM           Universite de Montreal
478732 PARAMADINA-UNIV           Banaras Hindu University
       country       leid_country  dist_inst
447019 United States United States 0.609905251197253
452163 United States United States 0.609905251197253
473521 Canada        Canada        0.609905251197253
478732 Indonesia     India         0.609905251197253

In [106]:
head(all_inst)

       inst                   leid_inst               country
540975 LOUGHBOROUGHUNIVERSITY Loughborough University United Kingdom
303772 KAROLINSKAINSTITUTET   Karolinska Institutet   Sweden
65424  NANCHANGUNIVERSITY     Nanchang University     China
183569 YEUNGNAMUNIVERSITY     Yeungnam University     South Korea
485656 TSINGHUAUNIVERSITY     Tsinghua University     China
228592 KAROLINSKA-INSTITUTET  Karolinska Institutet   Sweden
       leid_country   dist_inst
540975 United Kingdom 0.0543891423106997
303772 Sweden         0.0586425513367167
65424  China          0.0766194831233614
183569 South Korea    0.0766194831233614
485656 China          0.0766194831233614
228592 Sweden         0.0769230769230768

In [113]:
write.csv(all_inst,paste0(path,'merged_leid_inst.csv'),row.names = FALSE)

In [37]:
all_inst <- all_inst[order(all_inst$dist_inst),]

In [64]:
all_inst_compl <- all_inst[complete.cases(all_inst),]

In [116]:
options(repr.matrix.max.rows=100, repr.matrix.max.cols=200)

In [40]:
head(all_inst[all_inst$dist_inst>=0.48,],100)

        inst
124103  UNIV-PITTSBURGH-HLTH-SCI
149631  JOURNAL-NANJING-MED-UNIV
170196  UNIV-MANITOBA-&-HLTH-SCI
214608  UNIV-PITTSBURGH-SHCOOL-MED
223707  BUENOS-AIRES-UNIV-HOSP
260733  SCHWARZ-EB-UNIV-PITTSBURGH
397191  UNIV-VIRGINIA-HEATH-SYST
403980  W-VIRGINIA-UNIV-RES-CORP
406411  SUN-YAT-SEN-UNIV-CHINA
410465  SAN-DIEGO-STATE-UNIV-CALIF
546090  UNIV-DENIS-DIDEROT-2
600072  WEST-VIRGINIA-WESLEYAN
722211  MANITOBA-RURAL-INITIAT
745550  WEST-VIRGINIA-MED-INST
991599  UNIV-BUENOS-AIRES-HOSP
992523  UNIV-BUENOS-AIRES-FCEN
1066943 UNIV-PITTSBURGH-MED-CTR-JC
1068439 PITTSBURGH-SCH-NURSING
1164472 UNIV-PITTSBURGH-CANC-CTR
1241793 UNIV-PITTSBURGH-FAMILY-MED
1247291 FORESTRY-FOREST-PROD-RES-INST
1438129 CARNEGIE-MELLON-PITTSBURGH
1521794 SASKATCHEWAN-PULSE-GROWERS
1523945 UNIV-DENIS-DIDEROT-7
89638   SUN-YAT-SEN-UNIV-MED-SCI
170124  HEMATOONCOL-UNIV-PARIS-DIDEROT
202612  POLE-UNIV-PSYCHIAT-MARSEILLE
221037  CREININ-MD-UNIV-PITTSBURGH
261467  SUN-YAT-SEN-UNIV-SHANTOU
354685  CENTACAT-QUEENS-UNIV-BELFAST
⋮       ⋮
1236602 SAKARYA-UNIV-SAKARYA-MYO-MECHATRON
100787  LIVERPOOL-MED-SCH
121393  YIILDIZ-TECN-UNIV
139501  KYUNG-WOON-UNIV
225487  KEPLER-UNIVKLIN
280198  BUNDESVERBAND-GERIATRIE
289062  KYUNG-LICE-UNIV
307239  SHANGHAI-JIAOTONG-UNIV-AFFILIATED-FIRST-PEOPLES-H
309942  UNI-CALIF-DAVIS
347469  SOOTHERN-MED-UNIV
425384  ERLANGEN
432154  WEITZMAN-INST-SCI
537949  YILDIZ-TEKCH-UNIV
538859  NE-FORESTY-UNIV
545699  NATL-TSING-UNIV
555426  LIVERPOOL-LAW-SCH
617600  MTECHNOLOGY-INC
723182  DERMATOL-UNIV-KLIN-ERLANGEN
903845  XIZHOU-TEACHERS-UNIV-SHANXI
1123968 MCGILL-UNIV-3610-UNIV
1124163 UNIV-MEDITERRANEAN-KARPASIA
1142153 UNIV-CALI-DAVIS
1280441 NE-FORESTRY-UNI
1312608 LIVERPOOL-DIOCESE
1383819 LIVERPOOL-SCH-HYG
1404988 RUTGERSE-NEW-JERSEY-MED-SCH
1522296 KYUNG-UNIV-HOSP
878259  EDIGENOSSISCHE-FORSCHUNGSANSTALT-WALD-SCHNEE-&-LA
83112   CH-VERSAILLES
407512  BEIJING-UNIV-AERONAUT-&-ASTRONAUT-BEIHANG-UNIV
        leid_inst                                          country
124103  University of Pittsburgh                           United States
149631  Nanjing Medical University                         China
170196  University of Manitoba                             Canada
214608  University of Pittsburgh                           United States
223707  University of Buenos Aires                         Argentina
260733  University of Pittsburgh                           United States
397191  West Virginia University                           United States
403980  West Virginia University                           United States
406411  Sun Yat-sen University                             China
410465  San Diego State University                         United States
546090  Universite Paris Diderot                           France
600072  West Virginia University                           United States
722211  University of Manitoba                             Canada
745550  West Virginia University                           United States
991599  University of Buenos Aires                         Argentina
992523  University of Buenos Aires                         Argentina
1066943 University of Pittsburgh                           United States
1068439 University of Pittsburgh                           United States
1164472 University of Pittsburgh                           United States
1241793 University of Pittsburgh                           United States
1247291 Northwest Agriculture & Forestry University        Philippines
1438129 Carnegie Mellon University                         United States
1521794 University of Saskatchewan                         Canada
1523945 Universite Paris Diderot                           France
89638   Sun Yat-sen University                             China
170124  Universite Paris Diderot                           France
202612  Aix-Marseille University                           France
221037  University of Pittsburgh                           United States
261467  Sun Yat-sen University                             China
354685  Queen's University Belfast                         United Kingdom
⋮       ⋮                                                  ⋮
1236602 Sakarya University                                 Turkey
100787  University of Liverpool                            United Kingdom
121393  Yildiz Technical University                        Turkey
139501  Sungkyunkwan University                            South Korea
225487  Johannes Kepler University Linz                    Austria
280198  Friedrich-Alexander-Universitat Erlangen-Nurnberg  Germany
289062  Sungkyunkwan University                            South Korea
307239  Shanghai Jiao Tong University                      China
309942  University of California, Davis                    United States
347469  Southern Medical University                        China
425384  Friedrich-Alexander-Universitat Erlangen-Nurnberg  Germany
432154  Weizmann Institute of Science                      Israel
537949  Yildiz Technical University                        Turkey
538859  Northeast Forestry University                      China
545699  National Tsing Hua University                      Taiwan
555426  University of Liverpool                            United Kingdom
617600  Georgia Institute of Technology                    United States
723182  Friedrich-Alexander-Universitat Erlangen-Nurnberg  Germany
903845  Shanxi University                                  China
1123968 McGill University                                  Canada
1124163 Ankara University                                  Turkey
1142153 University of California, Davis                    United States
1280441 Northeast Forestry University                      China
1312608 University of Liverpool                            United Kingdom
1383819 University of Liverpool                            United Kingdom
1404988 Rutgers, The State University of New Jersey        United States
1522296 Sungkyunkwan University                            South Korea
878259  Eidgenossische Technische Hochschule Zurich        Switzerland
83112   Universite de Versailles Saint-Quentin-en-Yvelines France
407512  Nanjing University of Aeronautics and Astronautics China
        leid_country   dist_inst
124103  United States  0.48
149631  China          0.48
170196  Canada         0.48
214608  United States  0.48
223707  Argentina      0.48
260733  United States  0.48
397191  United States  0.48
403980  United States  0.48
406411  China          0.48
410465  United States  0.48
546090  France         0.48
600072  United States  0.48
722211  Canada         0.48
745550  United States  0.48
991599  Argentina      0.48
992523  Argentina      0.48
1066943 United States  0.48
1068439 United States  0.48
1164472 United States  0.48
1241793 United States  0.48
1247291 China          0.48
1438129 United States  0.48
1521794 Canada         0.48
1523945 France         0.48
89638   China          0.480053053104255
170124  France         0.480053053104255
202612  France         0.480053053104255
221037  United States  0.480053053104255
261467  China          0.480053053104255
354685  United Kingdom 0.480053053104255
⋮       ⋮              ⋮
1236602 Turkey         0.480280803493572
100787  United Kingdom 0.480298849612313
121393  Turkey         0.480298849612313
139501  South Korea    0.480298849612313
225487  Austria        0.480298849612313
280198  Germany        0.480298849612313
289062  South Korea    0.480298849612313
307239  China          0.480298849612313
309942  United States  0.480298849612313
347469  China          0.480298849612313
425384  Germany        0.480298849612313
432154  Israel         0.480298849612313
537949  Turkey         0.480298849612313
538859  China          0.480298849612313
545699  Taiwan         0.480298849612313
555426  United Kingdom 0.480298849612313
617600  United States  0.480298849612313
723182  Germany        0.480298849612313
903845  China          0.480298849612313
1123968 Canada         0.480298849612313
1124163 Turkey         0.480298849612313
1142153 United States  0.480298849612313
1280441 China          0.480298849612313
1312608 United Kingdom 0.480298849612313
1383819 United Kingdom 0.480298849612313
1404988 United States  0.480298849612313
1522296 South Korea    0.480298849612313
878259  Switzerland    0.4803232538832
83112   France         0.480344158030695
407512  China          0.480344158030695

In [42]:
threshold <- 0.5

In [66]:
all_inst_thresh <- all_inst[all_inst_compl$dist_inst<threshold,]

In [86]:
df_matched <- merge(df_authors,all_inst_thresh[,c('inst','country','leid_inst')],by.x=c('Institution','ERegroupement'),by.y=c('inst','country'))

In [102]:
head(new_DF)

     Institution ERegroupement Cluster_ID leid_inst

In [90]:
write.csv(df_matched,paste0(path,'matched_leid_inst.csv'),row.names = FALSE)

In [92]:
df_matched <- merge(df_matched,df_leiden[,c("Country","University","PP_top5")],by.x=c("ERegroupement","leid_inst"),by.y=c("Country","University"))

In [85]:
length(unique(df_authors$Cluster_ID))

[1] 22166707

In [89]:
head(df_matched)

  Institution         ERegroupement Cluster_ID leid_inst
1 00014-UNIV-HELSINKI Finland       34160162   University of Helsinki
2 00014-UNIV-HELSINKI Finland       22212131   University of Helsinki
3 00014-UNIV-HELSINKI Finland       41363395   University of Helsinki
4 00014-UNIV-HELSINKI Finland        9022469   University of Helsinki
5 00014-UNIV-HELSINKI Finland       41363395   University of Helsinki
6 00014-UNIV-HELSINKI Finland       23390018   University of Helsinki

In [91]:
head(df_leiden)

  University                               Country Field        Period
1 Aalborg University                       Denmark All sciences 2006–2009
2 Aalto University                         Finland All sciences 2006–2009
3 Aarhus University                        Denmark All sciences 2006–2009
4 Adam Mickiewicz University in Poznan     Poland  All sciences 2006–2009
5 AGH University of Science and Technology Poland  All sciences 2006–2009
6 Ain Shams University                     Egypt   All sciences 2006–2009
  PP_top5
1 3.9527131084826E-2
2 4.7843169987152698E-2
3 6.2751106656845898E-2
4 1.41971144761704E-2
5 9.8638073842913804E-3
6 2.7408554772684699E-2